/* Set the font family and size for the whole document */
* {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

/* Set the background color and margin for the body element */
body {
    background-color: #f0f0f0;
    margin: 0;
}

/* Style the header element */
header {
    background-color: #333333;
    color: white;
    padding: 20px;
}
.logo {
    width: 100px;
    height: 100px;
    float: left;
}
/* Style the h1 element inside the header */
header h1 {
    font-size: 36px;
    margin: 0;
    text-align: center;
}

/* Style the navigation element */
nav {
    background-color: #555555;
}

/* Style the unordered list inside the navigation element */
.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Style the list items inside the navigation element */
.navigation li {
    float: left;
}

/* Style the links inside the navigation element */
.navigation a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the color of the links on hover */
.navigation a:hover {
    background-color: #111111;
}

/* Style the container element */
.container {
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Style the technique elements */
.technique {
    width: 45%;
    background-color: white;
    border: 1px solid #cccccc;
    padding: 10px;
    box-shadow: 2px 2px 5px #cccccc;
}

/* Style the headings inside the technique elements */
.technique h2 {
    font-size: 24px;
    color: #333333;
    margin: 10px 0;
}

/* Style the links inside the headings */
.technique h2 a {
    color: #333333;
    text-decoration: none;
}

/* Change the color of the links on hover */
.technique h2 a:hover {
    color: #555555;
}

/* Style the paragraphs inside the technique elements */
.technique p {
    font-size: 18px;
    color: #666666;
    margin: 10px 0;
}
